@page "/"

<PageTitle>User Homepage</PageTitle>

<div class="text-center">
    <h1 class="text-3xl font-bold">Home</h1>
    <div class="mt-4 flex flex-col ml-16 mr-16">
        <div class="border-4 border-grey-100 rounded-lg">
            <div class="flex flex-col font-bold text-xl">
                <p class="flex-grow p-6">Build your known ingredients and equipment for access to more recipes!</p>
                <p class="flex-grow p-2">Track your inventory and recipes with ease!</p>
                <p class="flex-grow p-4">Create shopping lists that have integration with everyday kitchen use!</p>
            </div>
            <div class="w-1/2 place-self-center">
                <img class="" src="/kitchen_picture_webapp.jpg" alt="kitchen picture" />
            </div>
            <div >
                <br/>
            </div>
        </div>
    </div>
</div>

