@inherits LayoutComponentBase


<RadzenComponents @rendermode="InteractiveServer"/>
<RadzenDialog/>
<RadzenLayout>
    
    <NavMenu/>
    <RadzenBody class="bg-gradient-to-r from-slate-400 via-slate-300 to-blue-400">
        <div class="mt-16">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>




