@page "/managewarehouse"

<PageTitle>Manage Warehouse</PageTitle>

<p>use the navigation to access the ingredients and equipment warehouses</p>

<button>
    <a href="managewarehouse/ingredients">Ingredients</a>
</button>

<button>
    <a href="managewarehouse/equipment">Equipment</a>
</button>