@page "/mykitchen/myshoppinglist/view"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using PersonalRecipeManagerWebApp.Models
@using PersonalRecipeManagerWebApp.Data
@using PersonalRecipeManagerWebApp.Services
@using PersonalRecipeManagerWebApp.Components.CustomComponents

<PageTitle>ViewShoppingList</PageTitle>

<div class="pt-8">
    <div class="bg-white p-3 max-w-md mx-auto">
        <div class="text-center">
            <h1 class="text-3xl font-bold">Your Shopping List</h1>

            @if (shoppingListViewModel.Count() == 0)
            {
                <p>There are no items in this shopping list.</p>
            }
            else
            {
                <div class="mt-8">
                    <CustomShoppingListCheckBox CheckedItems="@items" ShoppingList="@shoppingListViewModel" SelectedItemsChanged="@OnSelectedItemsChanged"></CustomShoppingListCheckBox>
                    <RadzenButton Text="Finish Shopping" Click="@OnClickSubmitShoppingList" />
                </div>
            }
        </div>
    </div>
</div>
